<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--映射实体dao层-->
<mapper namespace="com.zhongruan.dao.IRoleDao">
    <select id="findRoleByUserId" parameterType="int" resultType="com.zhongruan.bean.Role">
        select * from role where id in (select  roleId from user_role where userid = #{id})
    </select>
</mapper>